{% load crispy_forms_tags %}
{% include "bootstrap.html" %}

{% block content %}
    <div class="jumbotron jumbotron-fluid header">
        <div class="container">
            <a class="btn btn-outline-dark" href="{% url 'index' %}">« กลับหน้าแรก</a>
            <h1>เขียนคำอวยพรให้ขมิ้น</h1>
        </div>
    </div>
    <div class="container">
        <h4>ข้อควรรู้ก่อนเขียนคำอวยพร</h4>
        <ul>
            <li>เขียนข้อความได้ไม่เกิน 240 ตัวอักษร</li>
            <li>เขียนชื่อได้ไม่เกิน 50 ตัวอักษร</li>
            <li>ไม่สามารถขึ้นย่อหน้าหรือบรรทัดใหม่ในข้อความ เว็บจะแสดงผลเป็นข้อความยาวโดยไม่ขึ้นบรรทัดใหม่</li>
        </ul>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="alert alert-warning small">
                เมื่อคุณกดปุ่ม "อวยพรให้ขมิ้น" ถือว่าคุณทราบดีว่าข้อความที่คุณเขียนจะแสดงผลเป็นสาธารณะ และทราบดีว่าผู้ดูแลเว็บไซต์
                กล่าวคือผู้ที่มีชื่อผู้ใช้และรหัสผ่านสำหรับเข้าใช้หน้าจัดการข้อความ มีสิทธิ์โดยสมบูรณ์ในการซ่อนหรือลบข้อความของคุณ
                และผู้ดูแลเว็บไซต์มีสิทธิ์ส่งมอบบันทึกการเข้าใช้งานเว็บไซต์ (log) ซึ่งอาจประกอบด้วยหมายเลขไอพี ให้กับเจ้าหน้าที่รัฐ
                หากได้รับการร้องขอตามกระบวนการทางกฏหมาย
            </div>
            <button class="btn btn-primary">อวยพรให้ขมิ้น</button>
        </form>
    </div>
{% endblock %}